In [1]:
import numpy as np
import pandas as pd
import sys
import random

In [92]:
squares = [
    # [x1, y1, x2, y2]
    [0,0,2,2], [3,0,5,2], [6,0,8,2],
    [0,3,2,5], [3,3,5,5], [6,3,8,5],
    [0,6,2,8], [3,6,5,8], [6,6,8,8],
]

In [93]:
sudoku = [
    [5, 3, 0,   0, 7, 0,   0, 0, 0],
    [6, 0, 0,   1, 9, 5,   0, 0, 0],
    [0, 9, 8,   0, 0, 0,   0, 6, 0],

    [8, 0, 0,   0, 6, 0,   0, 0, 3],
    [4, 0, 0,   8, 0, 3,   0, 0, 1],
    [7, 0, 0,   0, 2, 0,   0, 0, 6],

    [0, 6, 0,   0, 0, 0,   2, 8, 0],
    [0, 0, 0,   4, 1, 9,   0, 0, 5],
    [0, 0, 0,   0, 8, 0,   0, 7, 9]
]

sudoku = pd.DataFrame(sudoku)

In [94]:
print(sudoku.iloc[0:3, 3:6])

3  4  5
0  0  7  0
1  1  9  5
2  0  0  0

In [95]:
sudoku.head(9)

   0  1  2  3  4  5  6  7  8
0  5  3  0  0  7  0  0  0  0
1  6  0  0  1  9  5  0  0  0
2  0  9  8  0  0  0  0  6  0
3  8  0  0  0  6  0  0  0  3
4  4  0  0  8  0  3  0  0  1
5  7  0  0  0  2  0  0  0  6
6  0  6  0  0  0  0  2  8  0
7  0  0  0  4  1  9  0  0  5
8  0  0  0  0  8  0  0  7  9

In [96]:
def validate(x, y, value):
    global sudoku

    if value in sudoku.loc[y].unique():
        print(f'Same value found in row {y}')
        return False

    if value in sudoku.iloc[:, x].unique():
        print(f'Same value found in column {x}')
        return False

    square = []
    for i in squares:
        if (i[0] <= y <= i[2]) and (i[1] <= x <= i[3]):
            print(f'value is in square {i}')
            square = i
            break

    x1, y1, x2, y2 = square
    x2 += 1
    y2 += 1
    print([x1, y1, x2, y2])
    print(sudoku.iloc[x1:x2, y1:y2])
    if value in sudoku.iloc[x1:x2, y1:y2].values:
        print(f'Same value found in square')
        return False

    return True

In [97]:
validate(3, 0, 3)

Same value found in row 0

False

In [98]:
for row_i, row in sudoku.iterrows():
    for column_i, value in row.iteritems():
        if value == 0:
            valid = False
            for i in range(10000):
                number = random.randint(1, 9)
                tested = []
                if l
                if not number in tested:
                    if validate(column_i, row_i, number):
                        sudoku.at[row_i, column_i] = number
                        valid = True
                        break
                    else:
                        tested.append(number)
                if not valid:
                    print(f'No valid number was found in x: {column_i}, y: {row_i}')
            else:
                
print(sudoku)

value is in square [0, 0, 2, 2]
[0, 0, 3, 3]
   0  1  2
0  5  3  0
1  6  0  0
2  0  9  8
Same value found in square
No valid number was found in x: 2, y: 0
value is in square [0, 0, 2, 2]
[0, 0, 3, 3]
   0  1  2
0  5  3  0
1  6  0  0
2  0  9  8
value is in square [0, 3, 2, 5]
[0, 3, 3, 6]
   3  4  5
0  0  7  0
1  1  9  5
2  0  0  0
Same value found in column 5
No valid number was found in x: 5, y: 0
Same value found in column 5
No valid number was found in x: 5, y: 0
value is in square [0, 3, 2, 5]
[0, 3, 3, 6]
   3  4  5
0  2  7  0
1  1  9  5
2  0  0  0
Same value found in row 0
No valid number was found in x: 6, y: 0
Same value found in row 0
No valid number was found in x: 6, y: 0
value is in square [0, 6, 2, 8]
[0, 6, 3, 9]
   6  7  8
0  0  0  0
1  0  0  0
2  0  6  0
Same value found in column 7
No valid number was found in x: 7, y: 0
Same value found in row 0
No valid number was found in x: 7, y: 0
value is in square [0, 6, 2, 8]
[0, 6, 3, 9]
   6  7  8
0  1  0  0
1  0  0  0
2  0  6  0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in column 8
No valid number was found in x: 8, y: 0
Same value found in column 8
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in column 8
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in column 8
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in column 8
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in column 8
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in column 8
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in column 8
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in column 8
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
Same value found in row 0
No valid number was found in x: 8, y: 0
value is in square [0, 0, 2, 2]
[0, 0, 3, 3]
   0  1  2
0  5  3  4
1  6  0  0
2  0  9  8
value is in square [0, 0, 2, 2]
[0, 0, 3, 3]
   0  1  2
0  5  3  4
1  6  2  0
2  0  9  8
Same value found in row 1
No valid number was found in x: 6, y: 1
Same value found in row 1
No valid number was found in x: 6, y: 1
Same value found in row 1
No valid number was found in x: 6, y: 1
value is in square [0, 6, 2, 8]
[0, 6, 3, 9]
   6  7  8
0  1  9  0
1  0  0  0
2  0  6  0
Same value found in row 1
No valid number was found in x: 7, y: 1
value is in square [0, 6, 2, 8]
[0, 6, 3, 9]
   6  7  8
0  1  9  0
1  3  0  0
2  0  6  0
Same value found in row 1
No valid number was found in x: 8, y: 1
Same value found in row 1
No valid number was found in x: 8, y: 1
Same value found in row 1
No valid number was found in x: 8, y: 1
Same value found in row 1
No valid number was found in x: 8, y: 1
Same value found in row 1
No valid number was found in x: 8, y: 1
Same value found in row 1
No valid number was found in x: 8, y: 1
Same value found in row 1
No valid number was found in x: 8, y: 1
Same value found in row 1
No valid number was found in x: 8, y: 1
Same value found in row 1
No valid number was found in x: 8, y: 1
Same value found in row 1
No valid number was found in x: 8, y: 1
value is in square [0, 6, 2, 8]
[0, 6, 3, 9]
   6  7  8
0  1  9  0
1  3  4  0
2  0  6  0
Same value found in row 2
No valid number was found in x: 0, y: 2
Same value found in column 0
No valid number was found in x: 0, y: 2
Same value found in column 0
No valid number was found in x: 0, y: 2
Same value found in column 0
No valid number was found in x: 0, y: 2
value is in square [0, 0, 2, 2]
[0, 0, 3, 3]
   0  1  2
0  5  3  4
1  6  2  7
2  0  9  8
Same value found in square
No valid number was found in x: 0, y: 2
Same value found in row 2
No valid number was found in x: 0, y: 2
Same value found in column 0
No valid number was found in x: 0, y: 2
Same value found in column 0
No valid number was found in x: 0, y: 2
Same value found in row 2
No valid number was found in x: 0, y: 2
Same value found in column 0
No valid number was found in x: 0, y: 2
Same value found in row 2
No valid number was found in x: 0, y: 2
Same value found in row 2
No valid number was found in x: 0, y: 2
Same value found in column 0
No valid number was found in x: 0, y: 2
Same value found in row 2
No valid number was found in x: 0, y: 2
Same value found in column 0
No valid number was found in x: 0, y: 2
Same value found in column 0
No valid number was found in x: 0, y: 2
Same value found in column 0
No valid number was found in x: 0, y: 2
Same value found in column 0
No valid number was found in x: 0, y: 2
Same value found in column 0
No valid number was found in x: 0, y: 2
Same value found in row 2
No valid number was found in x: 0, y: 2
Same value found in column 0
No valid number was found in x: 0, y: 2
Same value found in column 0
No valid number was found in x: 0, y: 2
Same value found in column 0
No valid number was found in x: 0, y: 2
Same value found in column 0
No valid number was found in x: 0, y: 2
Same value found in column 0
No valid number was found in x: 0, y: 2
Same value found in row 2
No valid number was found in x: 0, y: 2
Same value found in column 0
No valid number was found in x: 0, y: 2
Same value found in row 2
No valid number was found in x: 0, y: 2
value is in square [0, 0, 2, 2]
[0, 0, 3, 3]
   0  1  2
0  5  3  4
1  6  2  7
2  0  9  8
Same value found in square
No valid number was found in x: 0, y: 2
value is in square [0, 0, 2, 2]
[0, 0, 3, 3]
   0  1  2
0  5  3  4
1  6  2  7
2  0  9  8
Same value found in square
No valid number was found in x: 0, y: 2
Same value found in column 0
No valid number was found in x: 0, y: 2
Same value found in row 2
No valid number was found in x: 0, y: 2
Same value found in column 0
No valid number was found in x: 0, y: 2
Same value found in column 0
No valid number was found in x: 0, y: 2
value is in square [0, 0, 2, 2]
[0, 0, 3, 3]
   0  1  2
0  5  3  4
1  6  2  7
2  0  9  8
Same value found in square
No valid number was found in x: 0, y: 2
value is in square [0, 0, 2, 2]
[0, 0, 3, 3]
   0  1  2
0  5  3  4
1  6  2  7
2  0  9  8
Same value found in square
No valid number was found in x: 0, y: 2
value is in square [0, 0, 2, 2]
[0, 0, 3, 3]
   0  1  2
0  5  3  4
1  6  2  7
2  0  9  8
Same value found in square
No valid number was found in x: 0, y: 2
value is in square [0, 0, 2, 2]
[0, 0, 3, 3]
   0  1  2
0  5  3  4
1  6  2  7
2  0  9  8
value is in square [0, 3, 2, 5]
[0, 3, 3, 6]
   3  4  5
0  2  7  8
1  1  9  5
2  0  0  0
Same value found in column 4
No valid number was found in x: 4, y: 2
Same value found in row 2
No valid number was found in x: 4, y: 2
Same value found in row 2
No valid number was found in x: 4, y: 2
Same value found in column 4
No valid number was found in x: 4, y: 2
Same value found in row 2
No valid number was found in x: 4, y: 2
value is in square [0, 3, 2, 5]
[0, 3, 3, 6]
   3  4  5
0  2  7  8
1  1  9  5
2  3  0  0
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in column 5
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in column 5
No valid number was found in x: 5, y: 2
value is in square [0, 3, 2, 5]
[0, 3, 3, 6]
   3  4  5
0  2  7  8
1  1  9  5
2  3  4  0
Same value found in square
No valid number was found in x: 5, y: 2
value is in square [0, 3, 2, 5]
[0, 3, 3, 6]
   3  4  5
0  2  7  8
1  1  9  5
2  3  4  0
Same value found in square
No valid number was found in x: 5, y: 2
value is in square [0, 3, 2, 5]
[0, 3, 3, 6]
   3  4  5
0  2  7  8
1  1  9  5
2  3  4  0
Same value found in square
No valid number was found in x: 5, y: 2
value is in square [0, 3, 2, 5]
[0, 3, 3, 6]
   3  4  5
0  2  7  8
1  1  9  5
2  3  4  0
Same value found in square
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
value is in square [0, 3, 2, 5]
[0, 3, 3, 6]
   3  4  5
0  2  7  8
1  1  9  5
2  3  4  0
Same value found in square
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in column 5
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in column 5
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in column 5
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
value is in square [0, 3, 2, 5]
[0, 3, 3, 6]
   3  4  5
0  2  7  8
1  1  9  5
2  3  4  0
Same value found in square
No valid number was found in x: 5, y: 2
value is in square [0, 3, 2, 5]
[0, 3, 3, 6]
   3  4  5
0  2  7  8
1  1  9  5
2  3  4  0
Same value found in square
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in column 5
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
value is in square [0, 3, 2, 5]
[0, 3, 3, 6]
   3  4  5
0  2  7  8
1  1  9  5
2  3  4  0
Same value found in square
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in column 5
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
value is in square [0, 3, 2, 5]
[0, 3, 3, 6]
   3  4  5
0  2  7  8
1  1  9  5
2  3  4  0
Same value found in square
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in column 5
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
value is in square [0, 3, 2, 5]
[0, 3, 3, 6]
   3  4  5
0  2  7  8
1  1  9  5
2  3  4  0
Same value found in square
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
value is in square [0, 3, 2, 5]
[0, 3, 3, 6]
   3  4  5
0  2  7  8
1  1  9  5
2  3  4  0
Same value found in square
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
value is in square [0, 3, 2, 5]
[0, 3, 3, 6]
   3  4  5
0  2  7  8
1  1  9  5
2  3  4  0
Same value found in square
No valid number was found in x: 5, y: 2
value is in square [0, 3, 2, 5]
[0, 3, 3, 6]
   3  4  5
0  2  7  8
1  1  9  5
2  3  4  0
Same value found in square
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in column 5
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
value is in square [0, 3, 2, 5]
[0, 3, 3, 6]
   3  4  5
0  2  7  8
1  1  9  5
2  3  4  0
Same value found in square
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in column 5
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
value is in square [0, 3, 2, 5]
[0, 3, 3, 6]
   3  4  5
0  2  7  8
1  1  9  5
2  3  4  0
Same value found in square
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2
No valid number was found in x: 5, y: 2
Same value found in row 2

In [99]:
sudoku

   0  1  2  3  4  5  6  7  8
0  5  3  4  2  7  8  1  9  0
1  6  2  7  1  9  5  3  4  8
2  1  9  8  3  4  0  5  6  7
3  8  1  2  5  6  7  9  0  3
4  4  5  9  8  0  3  7  2  1
5  7  0  3  9  2  4  8  5  6
6  3  6  1  7  5  0  2  8  4
7  2  7  0  4  1  9  6  3  5
8  0  4  5  6  8  2  0  7  9

In [4]:
sudo = [[0 for i in range(9)] for j in range(9)]
sudo

[[0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0]]